@inherits LayoutComponentBase
@inject Tenant tenant

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">@(tenant?.Identifier ?? "N/A")</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
